@import "utf-8";
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url("./fontello.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: red;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  margin: 0;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  background-color: gray;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.header,
.visual,
.main-content,
.slogan,
.footer {
  width: 940px;
  margin: 0 auto;
}

.header {
  background-color: pink;
  position: relative;
  padding: 0 30px 50px 30px;
}

/* 로고 */
.logo {
  margin: 0;
  position: absolute;
  top: 45px;
  left: 70px;
}

.member {
  list-style-type: none;
  position: relative;
  padding: 2px 0;
  text-align: right;
  margin: 0;
  right: -10px;
}

.member li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.member li:nth-child(n+2)::before {
  font-family: "fontello";
  content: "\f142";
}

.member a {
  padding: 8px 5px;
  display: inline-block;
}

/* 메인메뉴 */

.menu {
  list-style-type: none;
  background-color: #f2401d;
  background-image: linear-gradient(to bottom, #f48870 0%, #f24421 35%, #f2401d 70%, #f48870 100%);
  margin: 5px 0 0 0;
  padding-left: 225px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 -2px 2px 0 #181818;
}

.menu::after {
  display: block;
  content: "";
  clear: both;

}

.menu-item {
  position: relative;
  float: left;
}

.menu-act .btn-menu {
  color: yellow;
}

.btn-menu {
  display: block;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0 20px;
  line-height: 45px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  text-shadow: 1px 0 0 #181818, -1px 0 0 #181818, 0 1px 0 #181818, 0 -1px 0 #181818;
}

.menu-act .btn-menu::after {
  display: block;
  content: "";
  border-bottom: 2px solid #181818;
}

.sub-menu {
  display: none;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  white-space: nowrap;
  background-color: yellow;
}


.sub-menu li,
.sub-menu1 a {
  display: inline-block;
}

.sub-menu1 a {
  padding: 8px 0 7px 0;
  margin-right: 10px;
}

.menu-act .sub-menu {
  display: block;
  top: 47px;
}

.sub-menu1,
.sub-menu2,
.sub-menu3 {
  left: 0;
}

.sub-menu4,
.sub-menu5,
.sub-menu6 {
  right: 0;
}

/* 비주얼 */
.visual {
  background-color: yellow;
  height: 120px;
}

/* 메인 콘텐츠 */
.main-content {
  background-color: orange;
  min-height: 400px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group1 {
  background-color: gray;
  flex-basis: 250px;
}

.group2 {
  background-color: gray;
  flex-basis: 390px;
}

.group3 {
  background-color: gray;
  flex-basis: 180px;
}

.slogan {
  background-color: aqua;
  padding: 15px 0;
}

.footer-bg {
  background-color: yellowgreen;
  padding: 15px 0;
}

.footer {
  background-color: green;
}